---
title: Le Wagon - Middleman
---
<div class="main-container">
<% data.visitors.each do |visitor, info| %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= randomized_background_image %>); background-position: no-repeat; padding: 6.2em; ">
  <div class="banner-content">
    <div class="row">
        <div class="col-xs-12">
          <h1><%= info.welcome %></h1>
          <p><%= info.book %></p>
        </div>
        <% if info.welcome.include? "artist" %>
          <form action="#" class="form-inline">
            <input type="text" class="form-control input-lg" placeholder="Where?">
            <br>
            <input type="text" class="form-control input-lg" placeholder="When?">
            <br>
            <br>
              <select name id class="form-control input-lg">
                <option value="1">1 client</option>
                <option value="2">2 clients</option>
                <option valur="3">3 clients</option>
              </select>
              <br>
              <br>
            <input type="submit" class="btn btn-primary btn-lg" value="Search">
          </form>
        <% else %>
        <div class="input-tags">
          <input name="tags" id="tags" value="cat,rose,black and grey" />
          <br>
          <input type="submit" class="btn btn-primary btn-lg" value="Submit">
        </div>
        <% end %>
    </div>

  </div>
</div>
<% end %>
</div>

<br>
<% ["papillard", "ssaunier", "monsieurpaillard"].each do |gh_username| %>
  <div class="col-xs-12 col-sm-4">
    <div class="container">
      <div class="row">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">

            <!-- insert <div class="card"> -->
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= randomized_background_image %>);">
              <div class="card-category">Popular</div>
              <div class="card-description">
                 <h3><%= gh_username.capitalize %></h3>
                <p>Very cool city, the best</p>
              </div>
               <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle card-user" %>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
      <div class="back">
        <img src=<%= randomized_tattoo_image %> style="width: 390px"/>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>
<div class="container" id="home-flats">
  <h2 class="text-center">Recent flats</h2>
  <div class="row">
    <% data.flats.each do |owner, flat| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
          <div class="card-category"><%= flat.city_name %></div>
          <div class="card-description">
            <h3><%= flat.name %></h3>
            <p><%= flat.description %></p>
          </div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class:"card-user" %>
          <%= link_to "", "flats/#{owner}.html", class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<h1 class="text-center">HERE WE GO</h1>
<h2 class="text-center">The time is now <%= Time.now %></h2>
<br>

